# 1_Preprocess

In this notebook, I will make a preliminary analysis of the dataset, checking for variable types, missing values, basic descriptive statistics and possible inconsistencies

# Step 1 | Import libraries
Import the necessary libraries that we are going to use further on.

In [1]:
import pandas as pd
import function_utils as futils
pd.set_option('display.float_format', '{:.2f}'.format) # disable scientific notation
pd.set_option('display.max_rows', None) # display all rows

# Step 2 | Import Dataset
Import the dataset

In [2]:
# Read the Excel file into a DataFrame
data = pd.read_excel("BCA_EU_CaseStudy_MarketIntelligence.xlsx")

# Display the first few rows of the DataFrame
data.head()

,vehicle_ID,selling_country,buyer_country,make,model,mileage,body_type,fuel_type,colour,registration_date,selling_date,selling_price,condition_grade,conversion_rate,b2b_price,b2c_price,stock_turnover
0,V000001,IT,IT,Toyota,4Runner,138366,SUV,Electric,Blue,2023-12-16,2024-12-15,14784.31,nan,100.00,12898.78,15797.47,26
1,V000002,PT,PT,Chevrolet,Equinox,111565,SUV,Diesel,Silver,2020-05-11,2024-05-10,9408.80,4.00,83.32,8379.68,10743.26,53
2,V000003,ES,ES,Chevrolet,Equinox,139601,SUV,Electric,Black,2023-03-21,2024-03-20,14209.81,5.00,95.13,12666.16,16305.35,46
3,V000004,FR,FR,Porsche,Boxster,144300,Convertible,CNG,White,2015-10-02,2024-09-29,15423.71,4.00,60.15,17111.19,18029.74,98
4,V000005,DE,DE,Subaru,Impreza,144016,Sedan,CNG,Grey,2014-03-15,2024-03-12,4668.59,4.00,75.64,4519.55,5539.80,50

# 1. Brief description

The dataset is composed of 1003  vehicles and 17 features (aka attributes or columns).

Columns description:<br>
*veichle_ID* : ID of each vehicle <br>
*selling_country*: The country that hosted the auction <br>
*buyer_country* : The country where the buyer is located <br>
*make* : : Brand of the vehicleâ€™s manufacture <br>
*model* : Specific model within the make of the vehicle<br>
*mileage* : : Total distance the vehicle has traveled in kilometers <br>
*body_type* :  Category associated with the shape and structure of the vehicle (e.g., sedan, SUV, hatchback).<br>
*fuel_type* : The type of fuel the vehicle uses to operate (e.g., petrol, diesel).<br>
*colour* : : The exterior color of the vehicle. <br>
*registration_date* : Date when the vehicle was first registered<br>
*selling_date* : The date when the vehicle is sold.<br>
*selling_price* : : The price at which the vehicle is sold.<br>
*condition_grade* : A score reflecting the vehicles overall condition, based on physical and mechanical assessments.<br>
*conversion_rate* : Number of vehicles sold / Number vehicles that entered a sale since January 2024.<br>
*b2b_price* : B2B Benchmark value given by an external provider<br>
*b2c_price*: B2C Benchmark value given by an external provider. T<br>
*stock_turnover* : average number of days it takes for a vehicle with those characteristics (e.g., model, fuel
type, age, etc.) to be sold.<br>

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10003 entries, 0 to 10002
Data columns (total 17 columns):
vehicle_ID           10003 non-null object
selling_country      10003 non-null object
buyer_country        10003 non-null object
make                 10003 non-null object
model                10003 non-null object
mileage              10003 non-null int64
body_type            10003 non-null object
fuel_type            10003 non-null object
colour               10003 non-null object
registration_date    10003 non-null datetime64[ns]
selling_date         10003 non-null datetime64[ns]
selling_price        10003 non-null float64
condition_grade      9283 non-null float64
conversion_rate      10003 non-null float64
b2b_price            10003 non-null float64
b2c_price            10003 non-null float64
stock_turnover       10003 non-null int64
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 1.3+ MB
None

In [4]:
print("Unique values by feature:\n", data.nunique().sort_values())

Unique values by feature:
 condition_grade          5
fuel_type                5
colour                   6
selling_country          7
buyer_country            7
body_type                7
make                    15
model                   68
stock_turnover         128
selling_date           367
conversion_rate       2836
registration_date     3392
mileage               9763
b2b_price             9980
selling_price         9982
b2c_price             9986
vehicle_ID           10003
dtype: int64

# 2.  Preliminary adjustments

## 2.1. Missing values

In [5]:
rm_df_mis = futils.missing_reporter(data, True)
display(rm_df_mis)

                 Nmissings  Pmissings
condition_grade        720       0.07

We have missing values in variable *condition_grade* that we can replace by "missing" as a category

In [6]:
# Replaces missing values 
data["condition_grade"].fillna(value='missing', inplace=True)

display("After imputing:", futils.missing_reporter(data))

'After imputing:'

Empty DataFrame
Columns: [Nmissings, Pmissings]
Index: []

# 3. Explore the data

## 3.1 Categorical Data

In [7]:
# Selects only object (categorical) features 
categorical_features = data.select_dtypes(include=['object']).columns.to_list()

# Removes vehicleID since is an ID not interesting for exploration
categorical_features.remove("vehicle_ID")

In [8]:
# for every column in the categorical features print the name and value counts of each category
for col in categorical_features:
    print('\n Feature', col)
    print('\n', data[col].value_counts())

 Feature selling_country

 NL    1496
IT    1470
FR    1459
DE    1421
PT    1393
ES    1386
PL    1378
Name: selling_country, dtype: int64

 Feature buyer_country

 IT    1469
NL    1469
FR    1446
ES    1433
DE    1424
PL    1402
PT    1360
Name: buyer_country, dtype: int64

 Feature make

 Honda         699
Kia           696
Nissan        691
Lexus         685
Hyundai       685
Audi          674
Chevrolet     665
Mercedes      664
Toyota        662
Subaru        660
Ford          655
Porsche       655
Volkswagen    649
Mazda         646
BMW           617
Name: make, dtype: int64

 Feature model

 Accord        185
NX            183
Altima        179
CX-30         179
Outback       178
Maxima        177
Focus         176
Malibu        174
Sonata        174
ES            174
IS            173
Impreza       173
CR-V          173
Equinox       173
Tucson        173
Sentra        172
Pilot         171
Boxster       170
Civic         170
Elantra       170
Explorer      170
Golf          169
Santa Fe      168
Mazda3        167
Cayenne       167
Passat        166
Mustang       165
911           164
Rogue         163
Silverado     161
Forte         160
Tiguan        159
Forester      159
Traverse      157
CX-5          156
Jetta         155
RX            155
Macan         154
Legacy        150
Sorento       149
4Runner       149
Q3            145
Sportage      145
Mazda6        144
Escape        143
A4            142
Seltos        138
Highlander    135
RAV4          134
A3            130
A6            129
Q5            128
C-Class       125
Corolla       123
Camry         121
GLC           118
S-Class       117
3 Series      116
SLK           113
E-Class       108
X5            108
7 Series      106
Soul          104
X3            102
Z4            102
GLA            83
5 Series       83
F-150           1
Name: model, dtype: int64

 Feature body_type

 Sedan          4488
SUV            4188
Convertible     385
Coupe           329
Hatchback       273
Wagon           178
Truck           162
Name: body_type, dtype: int64

 Feature fuel_type

 Petrol      2039
CNG         1995
Electric    1991
Hybrid      1990
Diesel      1988
Name: fuel_type, dtype: int64

 Feature colour

 Grey      1696
Red       1677
Silver    1671
White     1668
Blue      1665
Black     1626
Name: colour, dtype: int64

 Feature condition_grade

 4.0        2795
3.0        2585
5.0        2483
2.0        1116
missing     720
1.0         304
Name: condition_grade, dtype: int64

It doesn't appear that data has any problem, it could be the case that we had typos or inconsistent case usage (e.g., "BMW" vs "Bmw") or even misclassified or undefined categories but it's not the case

## 3.2 Numerical Data

In [9]:
# Selects only numerical features 
numerical_features = data.select_dtypes(include=['int','float']).columns

In [10]:
# Get summary statistics for numerical variables
data[numerical_features].describe()

       selling_price  conversion_rate  b2b_price  b2c_price
count       10003.00         10003.00   10003.00   10003.00
mean        13388.15            85.84   12635.46   15131.86
std          9458.86             8.18    9219.51   10793.56
min          1111.08            55.05    1089.82    1000.00
25%          6786.75            80.81    6359.70    7675.18
50%         10841.43            86.23   10152.46   12195.18
75%         17157.82            91.69   16039.89   19324.09
max         87741.24           100.00   92548.50  103033.82

It doesn't appear that data has any problem, it could be the case that we had negative values in these features which wouldn't make sense, and could also be the case that conversion_rate had values greater than 100% but it's not. 
I can already have a sense of the data with this summary statistics and for example understand that selling prices are higher than the B2B benchmark on average but lower then the B2C.

## 3.3 Date time variables

### 3.3.1 selling_date

In [11]:
# Extract year, month, and day components from the selling_date column
data['selling_year'] = data['selling_date'].dt.year
data['selling_month'] = data['selling_date'].dt.month
data['selling_day'] = data['selling_date'].dt.day

#### Year

In [12]:
# Check years present in the dataset
data.groupby(['selling_year'])['vehicle_ID'].count()

selling_year
2024    10002
2099        1
Name: vehicle_ID, dtype: int64

It does not make sense to have 2099 in selling year.
In a real world situation i would ask to change this typo, but since here i cannot do it, i will just remove this row

In [13]:
# Removes rows where year is greater than 2024
data = data[data['selling_year'] <= 2024]

In [14]:
# Check years present in the dataset after removing 2099
data.groupby(['selling_year'])['vehicle_ID'].count()

selling_year
2024    10002
Name: vehicle_ID, dtype: int64

#### Month

In [15]:
# Check months present in the dataset
data.groupby(['selling_month'])['vehicle_ID'].count()

selling_month
1     838
2     777
3     832
4     821
5     804
6     819
7     853
8     840
9     878
10    856
11    846
12    838
Name: vehicle_ID, dtype: int64

#### Day

In [16]:
# Check months present in the dataset
data.groupby(['selling_month', 'selling_day'])['vehicle_ID'].count()

selling_month  selling_day
1              1              27
               2              26
               3              22
               4              33
               5              18
               6              30
               7              30
               8              26
               9              25
               10             25
               11             20
               12             21
               13             29
               14             23
               15             27
               16             31
               17             38
               18             25
               19             19
               20             25
               21             29
               22             25
               23             29
               24             25
               25             28
               26             26
               27             28
               28             21
               29             26
               30             51
               31             30
2              1              28
               2              32
               3              27
               4              22
               5              32
               6              21
               7              28
               8              23
               9              27
               10             34
               11             26
               12             27
               13             27
               14             24
               15             25
               16             29
               17             28
               18             30
               19             21
               20             31
               21             24
               22             28
               23             22
               24             24
               25             32
               26             29
               27             25
               28             23
               29             28
3              1              26
               2              20
               3              30
               4              27
               5              26
               6              26
               7              21
               8              30
               9              32
               10             28
               11             38
               12             29
               13             24
               14             28
               15             27
               16             32
               17             23
               18             25
               19             36
               20             31
               21             14
               22             25
               23             21
               24             23
               25             28
               26             22
               27             24
               28             33
               29             31
               30             30
               31             22
4              1              29
               2              19
               3              31
               4              27
               5              30
               6              20
               7              28
               8              24
               9              31
               10             25
               11             33
               12             30
               13             29
               14             23
               15             27
               16             21
               17             28
               18             20
               19             27
               20             20
               21             31
               22             25
               23             29
               24             32
               25             29
               26             37
               27             22
               28             30
               29             32
               30             32
5              1              26
               2              22
               3              35
               4              36
               5              18
               6              30
               7              31
               8              19
               9              27
               10             30
               11             25
               12             29
               13             36
               14             19
               15             26
               16             34
               17             19
               18             27
               19             17
               20             21
               21             23
               22             19
               23             21
               24             20
               25             28
               26             24
               27             23
               28             29
               29             33
               30             25
               31             32
6              1              23
               2              41
               3              33
               4              30
               5              33
               6              21
               7              26
               8              35
               9              26
               10             34
               11             18
               12             30
               13             27
               14             27
               15             18
               16             25
               17             26
               18             21
               19             26
               20             29
               21             34
               22             22
               23             30
               24             21
               25             33
               26             31
               27             23
               28             26
               29             23
               30             27
7              1              29
               2              22
               3              36
               4              31
               5              30
               6              25
               7              28
               8              25
               9              28
               10             28
               11             32
               12             31
               13             33
               14             23
               15             29
               16             26
               17             18
               18             29
               19             24
               20             25
               21             31
               22             21
               23             33
               24             31
               25             18
               26             28
               27             29
               28             25
               29             28
               30             21
               31             36
8              1              24
               2              27
               3              31
               4              28
               5              33
               6              27
               7              26
               8              25
               9              23
               10             38
               11             30
               12             31
               13             25
               14             23
               15             27
               16             30
               17             17
               18             21
               19             30
               20             29
               21             32
               22             29
               23             27
               24             23
               25             23
               26             30
               27             33
               28             23
               29             26
               30             29
               31             20
9              1              31
               2              27
               3              33
               4              31
               5              23
               6              31
               7              26
               8              33
               9              36
               10             27
               11             38
               12             38
               13             30
               14             29
               15             17
               16             30
               17             30
               18             31
               19             36
               20             33
               21             27
               22             28
               23             26
               24             28
               25             33
               26             31
               27             26
               28             28
               29             17
               30             24
10             1              28
               2              28
               3              28
               4              26
               5              21
               6              31
               7              35
               8              32
               9              29
               10             22
               11             27
               12             25
               13             21
               14             31
               15             30
               16             30
               17             32
               18             24
               19             28
               20             24
               21             23
               22             20
               23             27
               24             32
               25             19
               26             41
               27             17
               28             26
               29             25
               30             30
               31             44
11             1              34
               2              38
               3              21
               4              24
               5              29
               6              25
               7              33
               8              30
               9              23
               10             24
               11             22
               12             25
               13             34
               14             22
               15             26
               16             20
               17             36
               18             31
               19             29
               20             31
               21             28
               22             33
               23             44
               24             23
               25             32
               26             24
               27             23
               28             30
               29             29
               30             23
12             1              39
               2              25
               3              16
               4              28
               5              31
               6              25
               7              26
               8              20
               9              28
               10             35
               11             22
               12             23
               13             15
               14             30
               15             19
               16             26
               17             31
               18             27
               19             22
               20             22
               21             31
               22             29
               23             20
               24             27
               25             36
               26             28
               27             43
               28             29
               29             29
               30             28
               31             28
Name: vehicle_ID, dtype: int64

### 3.3.2 registration_date

In [17]:
# Extract year, month, and day components from the registration_date column
data['registration_year'] = data['registration_date'].dt.year
data['registration_month'] = data['registration_date'].dt.month
data['registration_day'] = data['registration_date'].dt.day

#### Year

In [18]:
# Check years present in the dataset
data.groupby(['registration_year'])['vehicle_ID'].count()

registration_year
2009       1
2014    1008
2015    1006
2016    1046
2017    1024
2018     966
2019    1068
2020     955
2021     940
2022    1019
2023     966
2024       3
Name: vehicle_ID, dtype: int64

#### Month

In [19]:
# Check years present in the dataset
data.groupby(['registration_month'])['vehicle_ID'].count()

registration_month
1     854
2     766
3     827
4     819
5     812
6     819
7     845
8     847
9     880
10    839
11    863
12    831
Name: vehicle_ID, dtype: int64

#### Day

In [20]:
# Check months present in the dataset
data.groupby(['registration_month', 'registration_day'])['vehicle_ID'].count()

registration_month  registration_day
1                   1                   32
                    2                   39
                    3                   34
                    4                   21
                    5                   25
                    6                   25
                    7                   28
                    8                   34
                    9                   30
                    10                  25
                    11                  20
                    12                  14
                    13                  27
                    14                  28
                    15                  24
                    16                  28
                    17                  31
                    18                  35
                    19                  25
                    20                  22
                    21                  26
                    22                  31
                    23                  23
                    24                  28
                    25                  30
                    26                  20
                    27                  26
                    28                  28
                    29                  27
                    30                  24
                    31                  44
2                   1                   37
                    2                   26
                    3                   31
                    4                   18
                    5                   33
                    6                   28
                    7                   25
                    8                   30
                    9                   24
                    10                  25
                    11                  27
                    12                  28
                    13                  23
                    14                  32
                    15                  27
                    16                  21
                    17                  27
                    18                  36
                    19                  25
                    20                  27
                    21                  27
                    22                  30
                    23                  22
                    24                  26
                    25                  25
                    26                  30
                    27                  27
                    28                  27
                    29                   2
3                   1                   22
                    2                   26
                    3                   20
                    4                   29
                    5                   32
                    6                   27
                    7                   27
                    8                   29
                    9                   19
                    10                  32
                    11                  28
                    12                  24
                    13                  33
                    14                  32
                    15                  26
                    16                  22
                    17                  38
                    18                  22
                    19                  36
                    20                  20
                    21                  36
                    22                  26
                    23                  22
                    24                  24
                    25                  24
                    26                  18
                    27                  26
                    28                  18
                    29                  32
                    30                  26
                    31                  31
4                   1                   32
                    2                   25
                    3                   24
                    4                   22
                    5                   32
                    6                   27
                    7                   27
                    8                   23
                    9                   28
                    10                  23
                    11                  34
                    12                  25
                    13                  29
                    14                  28
                    15                  28
                    16                  23
                    17                  28
                    18                  29
                    19                  25
                    20                  20
                    21                  22
                    22                  30
                    23                  26
                    24                  32
                    25                  22
                    26                  35
                    27                  27
                    28                  34
                    29                  29
                    30                  30
5                   1                   25
                    2                   29
                    3                   29
                    4                   30
                    5                   29
                    6                   27
                    7                   27
                    8                   23
                    9                   26
                    10                  30
                    11                  24
                    12                  30
                    13                  24
                    14                  33
                    15                  29
                    16                  29
                    17                  24
                    18                  30
                    19                  28
                    20                  17
                    21                  19
                    22                  18
                    23                  24
                    24                  22
                    25                  21
                    26                  17
                    27                  26
                    28                  28
                    29                  26
                    30                  31
                    31                  37
6                   1                   21
                    2                   28
                    3                   28
                    4                   46
                    5                   26
                    6                   28
                    7                   26
                    8                   27
                    9                   35
                    10                  30
                    11                  31
                    12                  18
                    13                  30
                    14                  32
                    15                  26
                    16                  14
                    17                  28
                    18                  22
                    19                  20
                    20                  27
                    21                  27
                    22                  30
                    23                  30
                    24                  24
                    25                  31
                    26                  25
                    27                  29
                    28                  30
                    29                  26
                    30                  24
7                   1                   27
                    2                   17
                    3                   31
                    4                   33
                    5                   32
                    6                   24
                    7                   31
                    8                   31
                    9                   28
                    10                  26
                    11                  26
                    12                  28
                    13                  30
                    14                  36
                    15                  26
                    16                  23
                    17                  33
                    18                  23
                    19                  20
                    20                  29
                    21                  23
                    22                  25
                    23                  26
                    24                  30
                    25                  27
                    26                  27
                    27                  25
                    28                  28
                    29                  27
                    30                  29
                    31                  24
8                   1                   25
                    2                   32
                    3                   24
                    4                   30
                    5                   26
                    6                   35
                    7                   26
                    8                   30
                    9                   25
                    10                  24
                    11                  31
                    12                  35
                    13                  29
                    14                  24
                    15                  28
                    16                  28
                    17                  21
                    18                  30
                    19                  20
                    20                  21
                    21                  27
                    22                  34
                    23                  29
                    24                  30
                    25                  28
                    26                  24
                    27                  24
                    28                  24
                    29                  28
                    30                  22
                    31                  33
9                   1                   26
                    2                   30
                    3                   24
                    4                   32
                    5                   30
                    6                   31
                    7                   34
                    8                   24
                    9                   25
                    10                  32
                    11                  36
                    12                  33
                    13                  33
                    14                  37
                    15                  29
                    16                  30
                    17                  21
                    18                  20
                    19                  35
                    20                  31
                    21                  34
                    22                  33
                    23                  26
                    24                  32
                    25                  24
                    26                  34
                    27                  27
                    28                  27
                    29                  28
                    30                  22
10                  1                   27
                    2                   23
                    3                   23
                    4                   32
                    5                   31
                    6                   22
                    7                   25
                    8                   32
                    9                   29
                    10                  38
                    11                  25
                    12                  24
                    13                  19
                    14                  27
                    15                  29
                    16                  27
                    17                  35
                    18                  24
                    19                  29
                    20                  32
                    21                  22
                    22                  24
                    23                  20
                    24                  21
                    25                  33
                    26                  26
                    27                  30
                    28                  20
                    29                  32
                    30                  25
                    31                  33
11                  1                   32
                    2                   40
                    3                   25
                    4                   29
                    5                   34
                    6                   25
                    7                   26
                    8                   31
                    9                   26
                    10                  35
                    11                  22
                    12                  23
                    13                  20
                    14                  31
                    15                  18
                    16                  30
                    17                  25
                    18                  35
                    19                  27
                    20                  30
                    21                  30
                    22                  25
                    23                  32
                    24                  39
                    25                  37
                    26                  30
                    27                  20
                    28                  28
                    29                  25
                    30                  33
12                  1                   21
                    2                   29
                    3                   35
                    4                   27
                    5                   18
                    6                   23
                    7                   31
                    8                   27
                    9                   27
                    10                  23
                    11                  23
                    12                  38
                    13                  15
                    14                  25
                    15                  24
                    16                  24
                    17                  23
                    18                  30
                    19                  24
                    20                  29
                    21                  17
                    22                  35
                    23                  28
                    24                  24
                    25                  26
                    26                  23
                    27                  32
                    28                  30
                    29                  37
                    30                  35
                    31                  28
Name: vehicle_ID, dtype: int64

## 3.4 Possible inconsistencies.
It is very frequent to find data inconsistencies: facts which do not make any sense in the context of a given problem and can bias your analysis. In this sub-section I will explore the data in depth in order to identify them.

- It wouldn't make sense to have vehicles with sales date before registration date

In [21]:
data[data['selling_date'] < data['registration_date']]

Empty DataFrame
Columns: [vehicle_ID, selling_country, buyer_country, make, model, mileage, body_type, fuel_type, colour, registration_date, selling_date, selling_price, condition_grade, conversion_rate, b2b_price, b2c_price, stock_turnover, selling_year, selling_month, selling_day, registration_year, registration_month, registration_day]
Index: []

[0 rows x 23 columns]

- Let's compare the vehicle's actual selling price (internal transaction data) to its benchmark B2B price (external reference data). This will helps measure how well a vehicle's selling price aligns with the market benchmark for similar vehicles. I'm not expecting that will arise high deviations

In [22]:
# Compute deviations
data['deviation_b2B'] = (data['selling_price'] - data['b2b_price']) / data['b2b_price']
data['deviation_b2C'] = (data['selling_price'] - data['b2c_price']) / data['b2c_price']

In [23]:
data[(data['deviation_b2B'] > 1) | (data['deviation_b2B'] < -1)].T

                                  10002
vehicle_ID                      V010003
selling_country                      PT
buyer_country                        PT
make                                BMW
model                                X5
mileage                           20000
body_type                           SUV
fuel_type                        Diesel
colour                            Black
registration_date   2021-03-02 00:00:00
selling_date        2024-03-01 00:00:00
selling_price                  55000.00
condition_grade                    2.00
conversion_rate                   95.00
b2b_price                       2000.00
b2c_price                       1000.00
stock_turnover                       25
selling_year                       2024
selling_month                         3
selling_day                           1
registration_year                  2021
registration_month                    3
registration_day                      2
deviation_b2B                     26.50
deviation_b2C                     54.00

This vheicle has been sold for a lot more then the B2B benchmark price. Still I will leave it in the dataset

In [24]:
data[(data['deviation_b2C'] > 1) | (data['deviation_b2C'] < -1)].T

                                  10002
vehicle_ID                      V010003
selling_country                      PT
buyer_country                        PT
make                                BMW
model                                X5
mileage                           20000
body_type                           SUV
fuel_type                        Diesel
colour                            Black
registration_date   2021-03-02 00:00:00
selling_date        2024-03-01 00:00:00
selling_price                  55000.00
condition_grade                    2.00
conversion_rate                   95.00
b2b_price                       2000.00
b2c_price                       1000.00
stock_turnover                       25
selling_year                       2024
selling_month                         3
selling_day                           1
registration_year                  2021
registration_month                    3
registration_day                      2
deviation_b2B                     26.50
deviation_b2C                     54.00

# 4. Export dataset

In [25]:
# Check columns and rows of dataset after all the changes
data.shape

(10002, 25)

In [26]:
# Export dataset as pkl to preserve the data types
data.to_pickle('data_preprocessed.pkl')